* {
    margin: 0;
    padding: 0;
    border: border-box;
}

.progress {
    background-color: red;
    height: 2px;
    animation: aditi 3s ease-in 2ms forwards;
}

header {
    height: 100px;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    background-color: black;
    position: sticky;
    top: 0;
}

.logo img {
    /* display: flex;
    flex-wrap: wrap; */
    height: 50px;
    width: 200px;
    margin: 5px;
}

.logo img:hover {
    border-radius: 5px;
    cursor: pointer;
}


ul {
    display: flex;
    float: right;
    /* flex-wrap: wrap; */
    list-style-type: none;
    justify-content: right;
    align-items: right;
}

/* line-height,word-spacing */
ul li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    /* display: inline-flex flex; */
    color: white;
    /* padding-left: 65px; */
    /* flex-direction: row; */
    margin: 15px;
    border-bottom: 0.5px;
}

ul li:hover {
    color: aqua;
    cursor: pointer;
    font-size: larger;
}

@keyframes aditi {
    0% {
        width: 10vw;
    }

    60% {
        width: 70vw;
    }

    100% {
        width: 100vw;
    }

}

.background {
    background-image: url(https://images.pexels.com/photos/3184287/pexels-photo-3184287.jpeg?cs=srgb&dl=pexels-fauxels-3184287.jpg&fm=jpg);
    /* background-image: url(https://cdn4.vectorstock.com/i/1000x1000/56/03/silhouette-business-meeting-with-city-background-vector-7995603.jpg); */
    /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKG03iF3XEb4sopytEmD8b1HAiLpUlVM-xHw&usqp=CAU"); */
    background-size: cover;
    margin-top: 0%;
    height: 100%;
    width: 100%;
    align-content: center;
}

/* 
body {
    align-content: center;
    background-image: url(shake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.container {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 30px;
    cursor: default;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

p {
    font-weight: bold;
    color: black;
    cursor: default;
    font-size: 20px;
}

#btn {
    color: white;
    background-color: green;
    margin: 120px;
    height: 10vh;
    width: 15vw;
    margin-left: 45px;
}

#btn:hover {
    font-size: large;
    font-weight: bolder;
    border: 2px solid green;
    color: black;
    cursor: pointer;
    background-color: transparent;
}

.left {
    margin-top: 25px;
    /* border-bottom: 2px solid black; */
    width: 43%;
    justify-content: space-around;

    color: lightseagreen;
    height: 390px;
    text-align: center;
    float: left;
    font-size: larger;
    /* border: 2px solid black; */

    /* background-color: aqua; */
}

p {
    margin-top: 5px;
}

.right {
    margin-top: 15px;
    height: 630px;
    width: 55%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    /* float: right;    */
    /* border: 2px solid black; */

    /* background-color: blue; */
}

/* .box {margin: 5px;
    height: 480px;
    font-size: 20px;
    float: right;
    width: 645px; 
    border: 2px solid black;
    display:block;
} */

.items {
    font-size: 20px;
    /* float: left; */
    margin: 5px;
}

.items1 {
    font-size: 50px;
    padding: 15px;
}


.main {
    margin-top: 65px;
    color: rgb(8, 7, 7);
    background-color: azure;
    height: 700px;
    width: 100%;
    padding: 10px;
    /* justify-content: space-around; */
}

.flexible {
    font-size: 50px;
}

.child {
    padding: 10px;

    font-size: 20px;
    color: gray;
    padding-left: 5px;
}

.child1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.box {
    margin: 6px;
    font-size: 19px;
    align-items: center;
}

.box:hover {
    color: blue;
    cursor: pointer;
}

.boxa {
    line-height: 23.5px;
    justify-content: center;
    background-color: blue;
    height: 370px;
    color: white;
    font-size: medium;
    padding: 10px;
    border: 2px solid black;
    width: 240px;

}

.boxa:hover {
    color: black;
    background-color: white;
}

.image {
    background-image: url(https://media.istockphoto.com/id/616006608/photo/business-people-shaking-hands-during-meeting.jpg?s=612x612&w=0&k=20&c=meVYcxXJBvaEx1SxSJ0jy9DjTyc4icbxp4dLnGSVRso=);
    background-size: cover;
    height: 800px;
    /* position: fixed; */
    /* position: sticky;  */
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    font-weight: bolder;
    color: black;
    align-items: center;
    justify-content: center;
}

/* .line {
    border-right: 1.5px solid black;
    justify-content: right;
} */

.left1 {
    float: left;
    width: 55px;
    height: 350px;
    background-attachment: fixed;
}

.right1 {
    float: right;
    background-color: black;
    width: 53%;
    font-size: 19px;
    height: 350px;
    /* border: 2px solid black; */
    color: white;
    background-attachment: fixed;
    padding-left: 30px;
}

.chid {
    color: white;
    font-size: larger;
    font-weight: bolder;
    margin-left: 180px;
    margin-top: 10px;


}

.end {
    margin-top: 370px;
    float: left;
    /* border: 2px solid black; */

    font-size: 50px;
    color: black;
    height: 400px;
    /* justify-content: center; */
    width: 260px;
    /* display: flex; */
}

.box1 {
    height: 350px;
    width: 270px;
    display: flex;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 50px;
    align-items: center;
    font-size: larger;

}

.name {
    font-size: 20px;
    /* height: 150px; */
    justify-content: center;

    align-items: center;
}

.small {
    font-size: medium;

    align-items: center;

}

/* .root{
    height: 550px;
    width: 55%;
} */
.right2 {
    background-color: aqua;
    float: right;
    width: 55%;
    padding: 30px;
    /* margin-top: 150px; */
    height: 550px;
    align-content: center;


}

.head {
    font-size: 40px;
    color: black;
    justify-content: center;
    padding: 40px;
    font-weight: bolder;
}


#form {
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    height: 30px;
    margin: 10px;
    padding: 10px;
}

#textarea {
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    height: 150px;
    width: 630px;
    margin: 10px 10px;
    padding: 20px;
    font-family: sans-serif;
}

#bn {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    padding: 15px;
}


.footer {
    height: 570px;
    width: 100%;
    display: grid;
    column-gap: 2px;
    justify-items: center;
    /* margin-top: 1300px; */
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    color: aliceblue;
}


.icon {
    display: flex;
    /* padding: 25px; */
    letter-spacing: 7px;
    color: #777777;
    font-size: 30px;
    border-radius: 50%;
    /* border: 2px double #777777; */
    margin: 20px 10px;
    /* float: left; */
    /* margin: 15px; */
}

.icon:hover {
    cursor: pointer;
    color: aqua;
}

a {
    list-style: none;
    text-decoration: none;
    color: #777777;
}

a:hover {
    cursor: pointer;
    color: aqua;
}

.box12 {
    /* background-color: aqua; */
    padding: 0px 20px;
    height: 500px;
    font-size: 15px;
    width: 280px;
    color: #777777;

    justify-self: center;
    line-height: 20px;
}

.box2 {
    height: 350px;
    width: 250px;
    color: white;
    /* background-color: palevioletred; */
    margin: 20px;
    justify-self: center;
    font-size: 22px;
    /* word-spacing: 5px; */
}

.link,
.info {
    margin-top: 10px;
    font-size: 15px;
    color: #777777;
    line-height: 1.8em;
    font-weight: 400;

}


.link:hover {
    cursor: pointer;
    color: aqua;
}

/* .box22{
    width: 280px;
} */
.pull {
    height: 50px;margin: 0;
    border-top: 0.5 px solid white;
    display: flex;justify-content: space-between;
}
#pin{
    width: calc(100%-200px);
}

.left3 {
    /* margin-top: 920px; */
    float: left;
    color: #777777;
    display: flex;
    /* background-color: red; */
    /* border-top: 0.5px solid white; */

    /* width: 110%;
    height: 70%; */

    font-size: 15px;
}

.right3 {

    /* margin-left: 1020px; */
    float: right;
    color: #777777;
    /* background-color: aquamarine; */
    /* width: 70%;
    height: 50%; */
    /* border-top: 0.5px solid white; */


    font-size: 15px;
}